{{- /* A pixel icon: an 8x8 bitmap, one "#" per lit square, drawn as one path
   in currentColor. Call with (dict "name" "star" "size" 16). */ -}}
{{- $icons := dict
  "star"    (slice "...##..." "...##..." "########" ".######." "..####.." ".######." ".##..##." "##....##")
  "grid"    (slice "##.##.##" "##.##.##" "........" "##.##.##" "##.##.##" "........" "##.##.##" "##.##.##")
  "bolt"    (slice "....###." "...###.." "..###..." ".######." "...###.." "..###..." ".###...." ".#......")
  "gauge"   (slice "......##" "......##" "...##.##" "...##.##" "##.##.##" "##.##.##" "........" "########")
  "robot"   (slice "...##..." ".######." "#......#" "#.#..#.#" "#......#" "#..##..#" ".######." ".#....#.")
  "laptop"  (slice ".######." ".#....#." ".#....#." ".#....#." ".######." "........" "########" ".######.")
  "shield"  (slice "########" "#......#" "#.....##" "#.#..#.#" "#..##..#" ".#....#." "..#..#.." "...##...")
  "user"    (slice "..####.." "..####.." "..####.." "........" ".######." "########" "########" "########")
  "doc"     (slice "######.." "#....##." "#.##..##" "#......#" "#.####.#" "#......#" "#.####.#" "########")
  "trash"   (slice "..####.." "########" "........" ".######." ".#.##.#." ".#.##.#." ".#.##.#." ".######.")
  "play"    (slice "##......" "####...." "######.." "########" "########" "######.." "####...." "##......")
  "chart"   (slice "#......." "#.....#." "#....#.." "#.#.#..." "#..#...." "#......." "#......." "########")
-}}
{{- $rows := index $icons .name -}}
{{- $size := .size | default 16 -}}
<svg class="px-icon" viewBox="0 0 8 8" width="{{ $size }}" height="{{ $size }}" fill="currentColor" shape-rendering="crispEdges" aria-hidden="true" focusable="false"><path d="
{{- range $y, $row := $rows -}}
{{- range $x, $c := split $row "" -}}
{{- if eq $c "#" }}M{{ $x }} {{ $y }}h1v1h-1z{{ end -}}
{{- end -}}
{{- end -}}
"/></svg>
{{- /* chomp */ -}}
